/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* SECCIONES */
section {
  padding: 40px 20px;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0a2540;
  color: white;
  padding: 15px;
}

.logo {
  margin-bottom: 10px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* Ocultamos menú por defecto */
.nav-links {
  display: none;
}

/* Menú abierto */
.nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}


/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1rem;
  margin: 15px 0;
}

/* BOTONES */
button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
}
.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* Ocultamos menú por defecto */
.nav-links {
  display: none;
}

/* Menú abierto */
.nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}


@media (min-width: 768px) {
  /* NAVBAR */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
  }

  .nav-links {
    flex-direction: row;
    gap: 30px;
    }
    
    .hamburger {
      display: none;
    }
    
    .nav-links {
      display: flex;
    }

  /* HERO */
  .hero {
    padding: 100px 80px;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
  }
}

