@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");


/* RESET */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.6;
  color: #1f2933;
}

h1, h2, h3 {
  font-weight: 600;
  color: #0a2540;
  margin-bottom: 15px;
}

p {
  font-weight: 400;
  max-width: 700px;
}


/* SECCIONES */
section {
  padding: 40px 20px;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0a2540;
  color: white;
  padding: 15px;
}

.navbar h1 {
  color: white
}

.navbar a{
  color: white;
}

.logo {
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
    padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s ease, color 0.2s ease;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.15);
}


.nav-links li {
  cursor: pointer;
}


.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* Ocultamos menú por defecto */
.nav-links {
  display: none;
}

/* Menú abierto */
.nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}


/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .hero h2 {
    font-size: 2.6rem;
  }
}


.hero p {
  font-size: 1rem;
  margin: 15px 0;
}

/* BOTONES */
button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
}
.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* Ocultamos menú por defecto */
.nav-links {
  display: none;
}

/* Menú abierto */
.nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

/* Whatsapp Icon */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.whatsapp-button:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}



@media (min-width: 768px) {
  /* NAVBAR */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
  }

  .nav-links {
    flex-direction: row;
    gap: 30px;
    }
    
    .hamburger {
      display: none;
    }
    .hamburger {
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

    .nav-links {
      display: flex;
    }

    .nav-links.open a {
  width: 100%;
  text-align: center;
  padding: 12px;
}


  /* HERO */
  .hero {
    padding: 100px 80px;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
  }
}

